* {
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}

main {
    height: 100%;
    width: 100%;
}

nav {
    height: 100px;
    width: 100%;
    /* background-color: red; */
    border-bottom: 2px solid #dadada;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4vw;
}

.nav {
    display: flex;
    /* background-color: blue; */
    gap: 4vw;
    align-items: center;
}

.nav h2 {
    font-size: 2vw;
    font-weight: 700;
}

.nav h4 {
    font-size: 1vw;
}

.nav i { 
    flex-wrap: 800;
    display: none;
}

.content {
    /* nav height was 100px */
    height: calc(100% - 100px);
    /* now, there is no scroll-bar */

    width: 100%;
    background-color: cadetblue;
    display: flex;
}

.content .left {
    height: 100%;
    width: 50%;
    background-color: crimson;
    padding: 5vw 7vw;
}

.content .right {
    height: 100%;
    width: 50%;
    background-color: royalblue;
}

@media (max-width: 600px) {
    nav {
        background-color: lightseagreen;
        color: white;
    }
    
    nav h2 {
        font-size: 6vw;
    }

    nav h4 {
        font-size: 4vw;
        display: none;
    }

    .nav i {
        display: initial;
    }
}
