html, body {
    width: 100%;
    height: 100%;
}

.parent {
    height: 100%;
    width: 100%;
    background-color: lightblue;
    display: flex;
    align-items: center; /* y-axis or cross axis */
    justify-content: space-evenly; /* x-asix or main axis */
}

.child-1 {
    height: 500px;
    width: 500px;
    background-color: crimson;
}

.child-2 {
    height: 500px;
    width: 500px;
    background-color: crimson;
}